{% extends 'base.html' %}
{% load staticfiles %}
{% load bootstrap4 %}
{% block body_block %}

<!-- Page top section -->
	<section class="page-top-section set-bg" data-setbg="{% static 'img/header-bg/2.jpg' %}">
		<div class="container">
			<h2>Login!</h2>
		</div>
	</section>
	<!-- Page top section end -->

    <section class="game-section character-one">
		<div class="container">
			<div class="row">
				<div class="col-lg-7">
                    <form method='post' class='text-white'>
                        {% csrf_token %}
                        {% bootstrap_form form %}
                        <input type="Submit" value='Login' class='btn btn-large btn-primary'>
                    </form>
				</div>
			</div>
		</div>
	</section>
{% endblock body_block %}