{% extends 'base.html' %}
{% load staticfiles %}
{% block body_block %}
	<!-- Hero section -->
	<section class="hero-section">
		<div class="hero-slider owl-carousel">
		{% for game  in games %}
		{% cycle 'img/slider/5.jpg' 'img/slider/6.png' 'img/slider/7.jpg' 'img/slider/3.png' as slider_img silent %}
		<div class="hero-item set-bg" data-setbg="{% static slider_img %}">
				<div class="container">
					<div class="row">
						<div class="col-lg-10 offset-lg-1">
							<h2>{{game.name}}</h2>
							<p>{{game.description}}</p>
							<a href="#" class="site-btn">Read More</a>
						</div>
					</div>
				</div>
			</div>
			{% endfor %}
			<!--
			<div class="hero-item set-bg" data-setbg="{% static 'img/slider/1.jpg' %}">
				<div class="container">
					<div class="row">
						<div class="col-lg-10 offset-lg-1">
							<h2>Enter the Battle</h2>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. </p>
							<a href="#" class="site-btn">Read More</a>
						</div>
					</div>
				</div>
			</div>
			<div class="hero-item set-bg" data-setbg="{% static 'img/slider/2.jpg' %}">
				<div class="container">
					<div class="row">
						<div class="col-lg-10 offset-lg-1">
							<h2>Drag the Race</h2>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. </p>
							<a href="#" class="site-btn">Read More</a>
						</div>
					</div>
				</div>
			</div>
			<div class="hero-item set-bg" data-setbg="{% static 'img/slider/3.png' %}">
				<div class="container">
					<div class="row">
						<div class="col-lg-10 offset-lg-1">
							<h2>Fight !!</h2>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. </p>
							<a href="#" class="site-btn">Read More</a>
						</div>
					</div>
				</div>
			</div>
			<div class="hero-item set-bg" data-setbg="{% static 'img/slider/4.jpg' %}">
				<div class="container">
					<div class="row">
						<div class="col-lg-10 offset-lg-1">
							<h2>Build the Strategy</h2>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. </p>
							<a href="#" class="site-btn">Read More</a>
						</div>
					</div>
				</div>
				-->
			</div>
		</div>
	</section>

		<!-- Work steps section -->
	<section class="work-steps-section">
		<div class="container">
			<div class="game-title">
				<img src="{% static 'img/game-characters/title-icon.png' %}" alt="">
				<h2>Why GameQuest?</h2>
			</div>
			<div class="row work-steps">
				<div class="col-md-4">
					<div class="work-step-box">
						<div class="ws-icon">
							<img src="{% static 'img/icons/1.png' %}" alt="">
						</div>
						<h4>Create your Profile</h4>
						<p>With GameQuest you have freedom to create your own profile.</p>
						<ul>
							<li><img src="{% static 'img/icons/check.png' %}" alt="">Personal Username</li>
							<li><img src="{% static 'img/icons/check.png' %}" alt="">Ease of Access</li>
							<li><img src="{% static 'img/icons/check.png' %}" alt="">Easy Recharge</li>
						</ul>
					</div>
				</div>
				<div class="col-md-4">
					<div class="work-step-box">
						<div class="ws-icon">
							<img src="{% static 'img/icons/2.png' %}" alt="">
						</div>
						<h4>Membership Rewards</h4>
						<p>Play regularly to upgrade your membership and gain access to exclusive rewards.</p>
						<ul>
							<li><img src="{% static 'img/icons/check.png' %}" alt="">Discounts</li>
							<li><img src="{% static 'img/icons/check.png' %}" alt="">Priority Checkout</li>
							<li><img src="{% static 'img/icons/check.png' %}" alt="">Exclusive Rewards</li>
						</ul>
					</div>
				</div>
				<div class="col-md-4">
					<div class="work-step-box">
						<div class="ws-icon">
							<img src="{% static 'img/icons/3.png' %}" alt="">
						</div>
						<h4>Build Your Profile</h4>
						<p>Build your profile with all the required stats and earn some rep in the gaming arena.</p>
						<ul>
							<li><img src="{% static 'img/icons/check.png' %}" alt="">Profile Tracking</li>
							<li><img src="{% static 'img/icons/check.png' %}" alt="">Stats showcase</li>
							<li><img src="{% static 'img/icons/check.png' %}" alt="">Keep track of purchases</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Work steps section end -->

	<!-- Testimonials section -->
	<section class="testimonials-section">
		<div class="container">
			<div class="game-title">
				<img src="{% static 'img/game-characters/title-icon.png' %}" alt="">
				<h2>Testimonials</h2>
			</div>
			<div class="testimonial-slider owl-carousel">
				<div class="testimonial">
					<div class="testimonial-text">
						<div class="test-date">12 / 03 / 2019</div>
						<h4>I loved playing this game</h4>
						<p>Vestibulum malesuada aliquet libero viverra cursus. Aliquam erat volutpat. Morbi id dictum quam, ut commodo lorem. In at nisi nec arcu porttitor aliquet vitae at dui. Sed sollicitudin nulla non leo viverra scelerisque.Fusce urna quam, euismod sit amet mollis quis, vestibulum quis velit. </p>
					</div>
					<div class="testimonial-info">
						<img src="{% static 'img/author-thumbs/1.jpg' %}" alt="">
						<div class="ti-text">
							<h5>JOHN DOE</h5>
							<p>Gamer Level 4</p>
						</div>
					</div>
				</div>
				<div class="testimonial">
					<div class="testimonial-text">
						<div class="test-date">12 / 03 / 2019</div>
						<h4>I loved playing this game</h4>
						<p>Vestibulum malesuada aliquet libero viverra cursus. Aliquam erat volutpat. Morbi id dictum quam, ut commodo lorem. In at nisi nec arcu porttitor aliquet vitae at dui. Sed sollicitudin nulla non leo viverra scelerisque.Fusce urna quam, euismod sit amet mollis quis, vestibulum quis velit. </p>
					</div>
					<div class="testimonial-info">
						<img src="{% static 'img/author-thumbs/2.jpg' %}" alt="">
						<div class="ti-text">
							<h5>JOHN DOE</h5>
							<p>Gamer Level 4</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Testimonials section end -->

{% endblock body_block %}